.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
}

.left_header {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    align-items: center;
    font-weight: bold;
    justify-content: flex-start;
    margin-left: 0;
}

.ul_header {
    display: flex;
    list-style: none;
    margin-right: 48px;
}

.a_header {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding: 24px;
}

.container {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
}

.content {
    padding: 16px;
    margin-left: 235px;
}

.main_text {
    margin-top: 40px;
    display: flex;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0;
}

.p_text {
    color: #E5E7EB;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 0;
}

.btn {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border-color: #3882F6;
    height: 40px;
    width: 100px;
}

.plach {
    margin-right: 500px;
    padding: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.inp {
    height: 200px;
    width: 350px;
    background-color: #E5E7EB;
}