.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
}

.left_header {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    align-items: center;
    margin-left: 48px;
}

.ul_header {
    display: flex;
    list-style: none;
    margin-right: 48px;
}

.a_header {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding: 24px;
}

.content {
    display: flex;
    background-color: #1F2937;
}

.main_text {
    display: flex;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-left: 24px;
}

.p_text {
    color: #E5E7EB;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}